<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Bloomy | Blog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="~{inc/config :: config-head}"></th:block>
</head>
<body>

<th:block th:replace="~{inc/header :: menu}"></th:block>

    <section class="section-padding pt-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <section class="section-padding">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div th:each="board : ${list}" class="col-lg-3 col-md-6">
                                            <article class="post-grid mb-5">
                                                <a class="post-thumb mb-4 d-block" th:href="@{'/blog/board/view/' + ${board.seq}}">
<!--                                                    <img th:src="@{/images/default-image.jpg}" class="img-fluid w-100">-->
                                                </a>
                                                <span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1" th:text="${board.mainCategory.mainCategoryName}"></span>
                                                <h3 class="post-title mt-1"><a th:href="@{'/blog/board/view/' + ${board.seq}}" th:text="${board.boardTitle}"></a></h3>

                                                <span class="text-muted letter-spacing text-uppercase font-sm" th:text="${#temporals.format(board.boardRegdate, 'yyyy-MM-dd')}"></span>

                                            </article>
                                        </div>
                                    </div>
                                </div>

                                <div class="m-auto">
                                    <div class="pagination mt-5 pt-4">
                                        <ul class="list-inline ">
                                            <li class="list-inline-item"><a href="#" class="active">1</a></li>
                                            <li class="list-inline-item"><a href="#">2</a></li>
                                            <li class="list-inline-item"><a href="#">3</a></li>
                                            <li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
				</div>

				<div class="col-lg-4 col-md-8 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<div class="sidebar-wrap mt-5 mt-lg-0">

                            <div th:replace="inc/sidebar :: profileSidebar"></div>
                            <div th:replace="inc/sidebar :: categorySidebar"></div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<th:block th:replace="~{inc/footer :: footer}"></th:block>

<th:block th:replace="~{inc/config :: config-scripts}"></th:block>

</body>

</html>