<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="../static/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="../static/plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="../static/plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
   <link rel="stylesheet" href="../static/css/style.css">
   <link rel="stylesheet" href="../static/css/friendList.css">

<style>


</style>

</head>

<body>


 

    <header class="header-top bg-grey justify-content-center">
        <nav class="navbar navbar-expand-lg navigation">
            <div class="container">
				<span class="nav-item">
					<a href="#">BLOOMY</a>
				</span>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
				aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="ti-menu"></span>
			</button>

                

				
				<div class="collapse navbar-collapse nav-align" id="navbarContent">
				
					<form method="get" action="">
				
						
							<div class="head-search">
							<input class="form-control" type="search"
								placeholder="제목,내용" aria-label="Search"
								id="">
							<button id="" class="head-search-btn" type="submit">
								<i class="ti-search"></i>
							</button>
						</div>
						

					</form>
					
			
				
                    <ul id="menu" class="menu navbar-nav">
						<li class="nav-item"><a href="#" class="nav-link">BLOG</a></li>
                       
                       <!-- 로그인전 -->
					  
						<!-- <li class="nav-item">
							<a class="nav-link">SINGIN</a>
						</li> -->
						
						
					
		
					<!-- 로그인 후 -->
						<!-- 회원 -->
						<!-- <li class="nav-item"><a href="#" class="nav-link">MYPAGE</a></li> -->
						<!-- 관리자 -->
						<li class="nav-item"><a href="#" class="nav-link">ADMINPAGE</a>
					
								
					
					<li class="nav-item"> <a class="nav-link">LOGOUT</a> </li>
			 		

					</ul>
				</div>
						


					
               
			</div>
               
            </div>
        </nav>
    </header>


    <section class="single-block-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar sidebar-right">
                        <div class="sidebar-wrap mt-5">

                            <!-- USER SIDE BAR -->
                            <div class="sidebar-widget">
                                <nav class="navbar navbar-expand-lg p-0">
                                    <div class="navbar-collapse collapse" id="navbarsExample09">
                                        <ul class="list-unstyled ">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">개인정보관리 ▼</a>
                                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                                    <a class="dropdown-item" href="#">개인정보 수정</a>
                                                    <a class="dropdown-item" href="#">비밀번호 수정</a>
                                                    <a class="dropdown-item" href="#">회원탈퇴</a>
                                                    
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">블로그 관리 ▼</a>
                                                <div class="dropdown-menu" aria-labelledby="dropdown02">
                                                    <a class="dropdown-item" href="#">블로그 통계</a>
                                                    <a class="dropdown-item" href="#">블로그 수정</a>
                                                   
                                                </div>
                                            </li>
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">친구 관리 ▼ </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdown03">
                                                    <a class="dropdown-item" href="#">친구목록</a>
                                                    <a class="dropdown-item" href="#">친구신청</a>
                                                    
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                             
                            <!-- USER SIDE BAR -->


                            <!-- ADMIN SIDE BAR -->
                            <!-- <div class="sidebar-widget">
                                <nav class="navbar navbar-expand-lg p-0">
                                    <div class="navbar-collapse collapse" id="navbarsExample09" style="">
                                        <ul class="list-unstyled ">
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">ADMIN HOME</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">유저관리</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">신고관리</a>
                                            </li>       
                                        </ul>
                                    </div>
                                </nav>
                            </div> -->
                            <!-- ADMIN SIDE BAR -->

                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                    <div class="row ">
                        <div class="col-md-12">
                            
                            <div class="listWrap">
                                <div class="friendTitle">
                                    친구 목록
                                </div>
                                
                                
                                <div class="searchWrap">
                                    <div class="searchBox">
                                        <input type="text" class="searchText" value="블로그명, 별명 검색">
                                        <input type="button" class="searchBtn" value="검색">
                                    </div>
                                </div>
                                
                                
                                
                                
                                <div class="deleteBox">
                                    <input type="button" class="deleteBtn" value="삭제">
                                </div>
                                
                                <div class="sortWrap">
                                    <div class="sortCount">
                                        정렬된 이웃 97명
                                    </div>
                                    <div class="sortBox">
                                        
                                        <select name="" id="sortSelect">
                                            <option class="selectOption" value="">친구추가순</option>
                                            <option class="selectOption" value="">친구별명순</option>
                                            <option class="selectOption" value="">업데이트순</option>
                                        </select>
                                    </div>
                                </div>
                                
                                
                                
                                
                                
                                <div class="margin">
                                    <div>
                                        <table class="friendTable">
                                            <thead>
                                                <tr>
                                                    <th class="tdCheckFriend">
                                                        <input type="checkbox" name="" class="checkFriend"></th>
                                                        <th class="thName">친구</th>
                                                        <th class="thNewPost">최근 글</th>
                                                        <th scope="col" class="thAdd">친구추가일</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="tdCheckFriend"><input type="checkbox" name="" class="checkFriend"></td>
                                                        <td class="tdInfo">
                                                            <span class="userNick">홍길동1</span> <span class="userDivide">|</span><span class="userBlogTitle">블로그제목</span>
                                                        </td>
                                                        <td class="tdNewPostDate">24.05.23</td>
                                                        <td class="tdAddDate">24.04.27</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="tdCheckFriend"><input type="checkbox" name="" class="checkFriend"></td>
                                                        <td class="tdInfo">
                                                            <span class="userNick">홍길동2</span> <span class="userDivide">|</span><span class="userBlogTitle">블로그제목</span>
                                                        </td>
                                                        <td class="tdNewPostDate">24.05.23</td>
                                                        <td class="tdAddDate">24.04.27</td>
                                                    </tr>
                                                    <tr>
                                              <td class="tdCheckFriend"><input type="checkbox" name="" class="checkFriend"></td>
                                              <td class="tdInfo">
                                                <span class="userNick">홍길동3</span> <span class="userDivide">|</span><span class="userBlogTitle">블로그제목</span>
                                            </td>
                                            <td class="tdNewPostDate">24.05.23</td>
                                            <td class="tdAddDate">24.04.27</td>
                                        </tr>
                                           <tr>
                                              <td class="tdCheckFriend"><input type="checkbox" name="" class="checkFriend"></td>
                                              <td class="tdInfo">
                                                  <span class="userNick">홍길동4</span> <span class="userDivide">|</span><span class="userBlogTitle">블로그제목</span>
                                                </td>
                                                <td class="tdNewPostDate">24.05.23</td>
                                                <td class="tdAddDate">24.04.27</td>
                                            </tr>
                                            <tr>
                                                <td class="tdCheckFriend"><input type="checkbox" name="" class="checkFriend"></td>
                                                <td class="tdInfo">
                                                    <span class="userNick">홍길동5</span> <span class="userDivide">|</span><span class="userBlogTitle">블로그제목</span>
                                                </td>
                                                <td class="tdNewPostDate">24.05.23</td>
                                                <td class="tdAddDate">24.04.27</td>
                                            </tr>
                                            <tr>
                                                <td class="tdCheckFriend"><input type="checkbox" name="" class="checkFriend"></td>
                                                <td class="tdInfo">
                                                    <span class="userNick">홍길동6</span> <span class="userDivide">|</span><span class="userBlogTitle">블로그제목</span>
                                                </td>
                                                <td class="tdNewPostDate">24.05.23</td>
                                                <td class="tdAddDate">24.04.27</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                              <div class="pagination pt-4 mb-5 justify-content-center">
                                  <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#" class="active">1</a></li>
                                    <li class="list-inline-item"><a href="#">2</a></li>
                                    <li class="list-inline-item"><a href="#">3</a></li>
                                    <li class="list-inline-item"><a href="#" class="prev-posts"><i class="ti-arrow-right"></i></a></li>
                                </ul>
                            </div>
                        </div>

                           
						   
                        
                            <!-- 끝 -->
                        </div>
                    </div>
                </div>
            </div>
    </section>
<
   
    <!--footer start-->
    <footer class="footer-section bg-grey">
                
        <div class="container">
            <div class="row">
                
                <div class="col-md-12 text-center">
                    <p class="copyright">© Copyright 2019 - Revolve. All Rights Reserved. Distribution </p>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->


    <!-- THEME JAVASCRIPT FILES
================================================== -->
    <!-- initialize jQuery Library -->
    <script src="../static/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="../static/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/plugins/slick-carousel/slick.min.js"></script>
    <script src="../static/plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="../static/plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="../static/plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="../static/js/custom.js"></script>



</body>

</html>