<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="../static/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="../static/plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="../static/plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
   <link rel="stylesheet" href="../static/css/style.css">

<style>

    

</style>

</head>

<body>

<div th:replace="~{inc/header :: menu}"></div>

    <section class="account-section">
        <div class="container">
            <div class="row">
				<div class="col-md-12 text-center">

                
                           <!-- 로그인폼 -->

						   
						   <div class="account-container">
							  
							   <div class="form-container sign-in-container">
								   <form action="#" class="account-form">
									   <h1>Sign in</h1>
									   
									   <span>use your account</span>
									   <input class="account-input" type="text" placeholder="ID" />
									   <input class="account-input" type="password" placeholder="Password" />
                                      
                                    <span>Forgot your account?</span>
                                    <div class="account-alink">
									   <a href="#">ID</a> 
                                       <span style="color:#b9b9b9;">/</span>
                                       <a href="#">Password</a>
                                    </div>
									   <button type="submit" class="accout-left account-button">Sign In</button>
								   </form>
							   </div>
							   <div class="account-overlay-container">
								   <div class="account-overlay">
						
									   <div class="account-overlay-panel account-overlay-right">
										   <div class="account-message">Hello, Bloomer!</div>
										   <div class="account-infomation">BLOOMY에서<br>하루하루 
										  성장해가는<br> 일상을 기록해보세요!
								
										   </div>
										   <a href="#" class="accout-right account-button">Sign Up</a>
									   </div>
								   </div>
							   </div>
						   </div>
						   
						  
                       


                            <!-- 로그인폼 끝 -->
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </section>

    <div th:replace="~{inc/footer :: footer}"></div>


    <!-- THEME JAVASCRIPT FILES
================================================== -->
    <!-- initialize jQuery Library -->
    <script src="../static/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="../static/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/plugins/slick-carousel/slick.min.js"></script>
    <script src="../static/plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="../static/plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="../static/plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="../static/js/custom.js"></script>



</body>

</html>