<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="../static/plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="../static/plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="../static/plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <!-- manin stylesheet -->
<!--   <link rel="stylesheet" href="css/style.css">-->

<style>



</style>

</head>

<body>


 

    <header class="header-top bg-grey justify-content-center">
        <nav class="navbar navbar-expand-lg navigation">
            <div class="container">
				<span class="nav-item">
					<a href="#">BLOOMY</a>
				</span>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
				aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="ti-menu"></span>
			</button>

                

				
				<div class="collapse navbar-collapse nav-align" id="navbarContent">
				
					<form method="get" action="">
				
						
							<div class="head-search">
							<input class="form-control" type="search"
								placeholder="제목,내용" aria-label="Search"
								id="">
							<button id="" class="head-search-btn" type="submit">
								<i class="ti-search"></i>
							</button>
						</div>
						

					</form>
					
			
				
                    <ul id="menu" class="menu navbar-nav">
						<li class="nav-item"><a href="#" class="nav-link">BLOG</a></li>
                       
                       <!-- 로그인전 -->
					  
						<!-- <li class="nav-item">
							<a class="nav-link">SINGIN</a>
						</li> -->
						

					<!-- 로그인 후 -->
						<!-- 회원 -->
						<!-- <li class="nav-item"><a href="#" class="nav-link">MYPAGE</a></li> -->
						<!-- 관리자 -->
						<li class="nav-item"><a href="#" class="nav-link">ADMINPAGE</a>
					
								
					
					<li class="nav-item"> <a class="nav-link">LOGOUT</a> </li>
			 		

					</ul>
				</div>

			</div>
               
            </div>
        </nav>
    </header>

<!-- 헤더 끝 -->


    <section class="account-section">
        <div class="container">
            <div class="row">
				<div class="col-md-12 text-center">

                    <!-- 회원가입 폼 -->
						   <div class="account-container">
                            <div class="form-container sign-in-container">
                                <form action="#" class="account-form">
                                
                                        <h1>Create Account</h1>
                                        
                                        <span>use your email for registration</span>
                                        <input class="account-input" type="text" placeholder="Name" />
                                       
                                        
                                        <div style="display: flex;">
                                            <input class="account-input" type="text" placeholder="ID" />
                                            <button type="button" class="btn-sign-check" style="flex-shrink: 0;">중복확인</button>
                                        </div>
                                        <input class="account-input" type="password" placeholder="Password" />
                                        <input class="account-input" type="password" placeholder="Check Password" />
                                        <input class="account-input" type="text" placeholder="NickName" />
                                        <input class="account-input" type="text" placeholder="Phone (01012341234)" />
                                        <input class="account-input" type="email" placeholder="email@bloomy.com" />
                                        <div style="display: flex;">
                                            <input class="account-input" type="text" placeholder="Address" style="flex-grow: 1;" />
                                            <button type="button" class="btn-sign-check">주소찾기</button>
                                        </div>
                                        <button type="submit" class="accout-left account-button">Sign Up</button>
                                    </form>
                                </div>
                               
                                <div class="account-overlay-container">
                                    <div class="account-overlay">
                         
                                        <div class="account-overlay-panel account-overlay-right">
                                            <div class="account-message">Welcome, Bloomer!</div>
                                            <div class="account-infomation">BLOOMY에서<br>하루하루 
                                           성장해가는<br> 일상을 기록해보세요!
                                 
                                            </div>
                                            <a type="button" class="accout-right account-button" id="signIn">Sign In</a>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                            
                            <!-- 끝 -->
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </section>

   
    <!--footer start-->
    <footer class="footer-section bg-grey">
                
        <div class="container">
            <div class="row">
                
                <div class="col-md-12 text-center">
                    <p class="copyright">© Copyright 2019 - Revolve. All Rights Reserved. Distribution </p>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->


    <!-- THEME JAVASCRIPT FILES
================================================== -->
    <!-- initialize jQuery Library -->
    <script src="../static/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="../static/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="../static/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="../static/plugins/slick-carousel/slick.min.js"></script>
    <script src="../static/plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="../static/plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="../static/plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="../static/js/custom.js"></script>



</body>
<script>

</script>

</html>