<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Bloomy | Signup</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <th:block th:replace="~{inc/config :: config-head}"></th:block>

</head>

<body>

<th:block th:replace="~{inc/header :: menu}"></th:block>

    <section class="account-section">
        <div class="container">
            <div class="row">
				<div class="col-md-12 text-center">

                    <!-- 회원가입 폼 -->
						   <div class="account-container">
                            <div class="form-container sign-in-container">
                                <form action="#" class="account-form">
                                
                                        <h1>Create Account</h1>
                                        
                                        <span>use your email for registration</span>
                                        <input class="account-input" type="text" placeholder="Name" />
                                       
                                        
                                        <div style="display: flex;">
                                            <input class="account-input" type="text" placeholder="ID" />
                                            <button type="button" class="btn-sign-check" style="flex-shrink: 0;">중복확인</button>
                                        </div>
                                        <input class="account-input" type="password" placeholder="Password" />
                                        <input class="account-input" type="password" placeholder="Check Password" />
                                        <input class="account-input" type="text" placeholder="NickName" />
                                        <input class="account-input" type="text" placeholder="Phone (01012341234)" />
                                        <input class="account-input" type="email" placeholder="email@bloomy.com" />
                                        <div style="display: flex;">
                                            <input class="account-input" type="text" placeholder="Address" style="flex-grow: 1;" />
                                            <button type="button" class="btn-sign-check">주소찾기</button>
                                        </div>
                                        <button type="submit" class="accout-left account-button">Sign Up</button>
                                    </form>
                                </div>
                               
                                <div class="account-overlay-container">
                                    <div class="account-overlay">
                         
                                        <div class="account-overlay-panel account-overlay-right">
                                            <div class="account-message">Welcome, Bloomer!</div>
                                            <div class="account-infomation">BLOOMY에서<br>하루하루 
                                           성장해가는<br> 일상을 기록해보세요!
                                 
                                            </div>
                                            <a href="/login" type="button" class="accout-right account-button" id="signIn">Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 끝 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<th:block th:replace="~{inc/footer :: footer}"></th:block>

<th:block th:replace="~{inc/config :: config-scripts}"></th:block>

</body>

</html>