<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <!-- Themify -->
    <link rel="stylesheet" href="plugins/themify/css/themify-icons.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick-theme.css">
    <link rel="stylesheet" href="plugins/slick-carousel/slick.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="plugins/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="plugins/magnific-popup/magnific-popup.css">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="css/style.css">
        <style>
            @font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
        .container {

            margin: 0 auto;
        }
        .row {

            margin: 0;
        }
        .table td, .table:not(.table-bordered) th {     
            border-top: none;
         }  
         .table-striped tbody tr:nth-of-type(odd) {     
            background-color: rgba(0, 0, 0, 0.02); 
        }
        #search {
            float: right;
        }

        .ck.ck-editor{

        width: 1000px;
        height: 1500px;
        }
        .ck-editor__editable {
            min-height: 400px;
        }
        #add-btn{
            width: 100%;
        }
        #title-box {
            margin: 0;
            border-bottom: 10px;
            display: flex;
            margin-bottom: 10px;
            width: 100%;
        }
        #summary {
            width: 23%;
            padding: 13px 0;
            pointer-events: none;
        }
        #unregi{
            margin: auto;
            padding: 30px;
            text-align: center;
            box-shadow: 1px 1px 3px 1px #dadce0;
            border-radius: 20px;
            margin-top: 10px;
            margin: 20px;
            font-family: 'GmarketSansMedium';
        }
        h2 {
            font-family: 'GmarketSansMedium';
        }
        #unregiCheck {
            margin-left: 10px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            
        }
        #unregiConfirm {
            font-size: 1.2rem;
            padding: 3px;
            font-family: 'GmarketSansMedium';
            display: flex;
            align-items: center;
            justify-content: center;
        } 
        #add-btn {
            font-family: 'GmarketSansMedium';
            font-size: 1.4rem;
        }
    </style>
</head>

<body>


    <div class="header-logo py-5 d-none d-lg-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""
                            class="img-fluid w-100"></a>
                </div>
            </div>
        </div>
    </div>

    <header class="header-top bg-grey justify-content-center">
        <nav class="navbar navbar-expand-lg navigation">
            <div class="container">
                <a class="navbar-brand d-lg-none" href="index.html"><img src="images/logo.png" alt=""
                        class="img-fluid"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul id="menu" class="menu navbar-nav ">
                        <li class="nav-item dropdown  pl-0">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="index.html">Home 1</a>
                                <a class="dropdown-item" href="index-2.html">Home 2</a>
                                <a class="dropdown-item" href="index-3.html">Home 3</a>
                                <a class="dropdown-item" href="index-4.html">Home 4</a>
                                <a class="dropdown-item" href="index-5.html">Home 5</a>
                                <a class="dropdown-item" href="index-6.html">Home 6</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Blog Posts
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item" href="standard-fullwidth.html">Standard Fullwidth</a>
                                <a class="dropdown-item" href="standard-left-sidebar.html">Standard Left Sidebar</a>
                                <a class="dropdown-item" href="standard-right-sidebar.html">Standard Right Sidebar</a>
                            </div>
                        </li>

                        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="fashion.html" class="nav-link">Category</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Post Formats
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <a class="dropdown-item" href="post-video.html">Video Formats</a>
                                <a class="dropdown-item" href="post-audio.html">Audio Format</a>
                                <a class="dropdown-item" href="post-link.html">Quote Format</a>
                                <a class="dropdown-item" href="post-gallery.html">Gallery Format</a>
                                <a class="dropdown-item" href="post-image.html">Image Format</a>
                            </div>
                        </li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                        <li class="nav-item d-lg-none">
                            <div class="search_toggle p-3 d-inline-block bg-white"><i class="ti-search"></i></div>
                        </li>
                    </ul>
                </div>

                <div class="text-right search d-none d-lg-block">
                    <div class="search_toggle"><i class="ti-search"></i></div>
                </div>
            </div>
        </nav>

    </header>
    <!--search overlay start-->
    <div class="search-wrap">
        <div class="overlay">
            <form action="#" class="search-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-9">
                            <input type="text" class="form-control" placeholder="Search..." />
                        </div>
                        <div class="col-md-2 col-3 text-right">
                            <div class="search_toggle toggle-wrap d-inline-block">
                                <i class="ti-close"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--search overlay end-->

    <section class="single-block-wrapper section-padding">
        <div class="container">
                <div class="col-lg-12 col-md-8 col-sm-12 col-xs-12">
                    <div class="single-post">
                        <div class="post-header mb-5 text-center">
                            <h2 class="post-title mt-6">
                                회원 탈퇴
                            </h2>
                            

                            
                                <!-- 내용 입력 -->
                                
                                <div style="white-space: pre-line;" id="unregi">
                                    <h2>회원탈퇴 약관</h2>
                                    
                                    1. 회원탈퇴 신청 시 본인임을 확인하기 위해 비밀번호를 입력해야 합니다. 
                                    
                                    2. 회원탈퇴 후에는 아이디 재사용 및 복구가 불가능하며, 회원정보 및 서비스 이용기록은 모두 삭제됩니다. 
                                    단, 관계법령에 의해 보관해야 하는 경우는 예외로 합니다.
                                    
                                    3. 회원탈퇴 후 작성한 게시물은 삭제되지 않으며, 익명처리 후 서비스에 남아있게 됩니다. 
                                    삭제를 원하시는 게시물이 있다면 탈퇴 전 직접 삭제하시기 바랍니다.
                                    
                                    4. 탈퇴 후에는 현재의 아이디로 다시 가입할 수 없으며 신규 아이디로 재가입해야 합니다.
                                    
                                    5. 회원탈퇴 시 사용하고 계신 이메일로 탈퇴 처리 결과를 안내 드립니다.  
                                    재가입 시 탈퇴한 이메일은 사용할 수 없습니다.
                                    
                                    6. 회사는 회원탈퇴에 따른 개인정보 처리 방침을 준수하며, 개인정보처리방침에 고지된 절차에 따릅니다.
                                    
                                    7. 회원이 본 약관에 동의하고 회원탈퇴 버튼을 누르면 탈퇴 절차가 진행되며, 약관에 동의하지 않을 경우 
                                    탈퇴가 불가능합니다.
                                    
                                    </div>
                                    <div id="unregiConfirm">
                                        <span>위 사항을 모두 확인하였으며, 회원탈퇴에 동의합니다.</span>
                                        <input type="checkbox" name="checkbox" id="unregiCheck">
                                    </div>
                                <button id="add-btn" class="btn btn-primary d-block mt-3">회원 탈퇴</button>
                                
                           </div>
                           </div>
                           </div>                
                        </div>
                    </div>
                    

                    

                    </div>

      

    </section>


    <!--footer start-->
    <footer class="footer-section bg-grey">
        <div class="instagram-photo-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-center">Follow in Instagram</h4>
                    </div>
                </div>

                <div class="row no-gutters" id="instafeed">

                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="mb-4">
                        <h2 class="footer-logo">Revolve.</h2>
                    </div>
                    <ul class="list-inline footer-socials">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook mr-2"></i>Facebook</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter mr-2"></i>Twitter</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin mr-2"></i>Linkedin</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-pinterest mr-2"></i>Pinterest</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-github mr-2"></i>Github</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-instagram mr-2"></i>Instrgram</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-rss mr-2"></i>rss</a></li>
                    </ul>
                </div>

                <div class="col-md-12 text-center">
                    <p class="copyright">© Copyright 2019 - Revolve. All Rights Reserved. Distribution <a
                            class="text-white" href="https://themewagon.com">ThemeWagon.</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->

    <!-- THEME JAVASCRIPT FILES
================================================== -->
    <!-- initialize jQuery Library -->
    <script src="https://kit.fontawesome.com/8c0a7f186c.js" crossorigin="anonymous"></script>
    <script src="plugins/jquery/jquery.js"></script>
    <!-- Bootstrap jQuery -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="plugins/bootstrap/js/popper.min.js"></script>
    <!-- Owl caeousel -->
    <script src="plugins/owl-carousel/owl.carousel.min.js"></script>
    <script src="plugins/slick-carousel/slick.min.js"></script>
    <script src="plugins/magnific-popup/magnific-popup.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed-js/instafeed.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script src="plugins/google-map/gmap.js"></script>
    <!-- main js -->
    <script src="js/custom.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/super-build/ckeditor.js"></script>

    <script>
        CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
          toolbar: {
            items: [
              //'exportPDF', 'exportWord', '|',
              'findAndReplace', 'selectAll', '|',
              'heading', '|',
              'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
              'bulletedList', 'numberedList', 'todoList', '|',
              'outdent', 'indent', '|',
              'undo', 'redo', '|',
              'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
              'alignment', '|',
              'link', 'insertImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
              'specialCharacters', 'horizontalLine', 'pageBreak', '|',
              'textPartLanguage', '|',
              'sourceEditing'
            ],
            shouldNotGroupWhenFull: true
          },
          list: {
            properties: {
              styles: true,
              startIndex: true,
              reversed: true
            }
          },
          heading: {
            options: [
              { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
              { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
              { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
              { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
              { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
              { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
              { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
            ]
          },
          placeholder: '내용을 입력하세요.',
          fontFamily: {
            options: [
              'default',
              'Arial, Helvetica, sans-serif',
              'Courier New, Courier, monospace',
              'Georgia, serif',
              'Lucida Sans Unicode, Lucida Grande, sans-serif',
              'Tahoma, Geneva, sans-serif',
              'Times New Roman, Times, serif',
              'Trebuchet MS, Helvetica, sans-serif',
              'Verdana, Geneva, sans-serif'
            ],
            supportAllValues: true
          },
          fontSize: {
            options: [10, 12, 14, 'default', 18, 20, 22],
            supportAllValues: true
          },
          htmlSupport: {
            allow: [
              {
                name: /.*/,
                attributes: true,
                classes: true,
                styles: true
              }
            ]
          },
          htmlEmbed: {
            showPreviews: true
          },
          link: {
            decorators: {
              addTargetToExternalLinks: true,
              defaultProtocol: 'https://',
              toggleDownloadable: {
                mode: 'manual',
                label: 'Downloadable',
                attributes: {
                  download: 'file'
                }
              }
            }
          },
          mention: {
            feeds: [
              {
                marker: '@',
                feed: [
                  '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                  '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                  '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                  '@sugar', '@sweet', '@topping', '@wafer'
                ],
                minimumCharacters: 1
              }
            ]
          },
          removePlugins: [
            'ExportPdf',
            'ExportWord',
            'CKBox',
            'CKFinder',
            'EasyImage',
            'RealTimeCollaborativeComments',
            'RealTimeCollaborativeTrackChanges',
            'RealTimeCollaborativeRevisionHistory',
            'PresenceList',
            'Comments',
            'TrackChanges',
            'TrackChangesData',
            'RevisionHistory',
            'Pagination',
            'WProofreader',
            'MathType'
          ]
        });
      </script>


</body>

</html>